<div class="comment">
	<table>
      <tr>
        <td>
          <% if current_user.votes.where(:comment_id => comment.id, :up => true).present? %>
             ↑
          <% else %>
            <%= button_to "↑", votes_path(vote: {comment_id: comment.id, up: true}) %>
          <% end %>
          <% if current_user.votes.where(:comment_id => comment.id, :up => false).present? %>
             ↓
          <% else %>
            <%= button_to "↓", votes_path(vote: {comment_id: comment.id, up: false}) %>
          <% end %>
        </td>
        <td>
          <div class="comment-content"><%= comment.content %></div>
          <div class="comment-user">Posted by:<%= link_to comment.user.username, comment.user %> on <%= comment.created_at %></div>
          <div class="comment-votes">
          Up Votes: <%= comment.votes.where(up: true).count %>
          Down Votes: <%= comment.votes.where(up: false).count %>
          Net: <%= comment.votes.where(up: true).count - comment.votes.where(up:false).count %>
          <%= link_to 'Unvote (DIY)', votes_path %>
          </div>
          <div class="comment-modify">
            <% if current_user == comment.user %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> </div>
        </td>
      </tr>
    </table>
    <br>
</div>