<div class="comment">
	<table id="comment_<%= comment.id %>">
      <tr>
        <td>
          <% if current_user && current_user.votes.where(:comment_id => comment.id, :up => true).present? %>
            <%= button_to "x", votes_path(vote: {user_id: current_user, comment_id: comment.id}, method: 'delete') %>
            <%= button_to "↓", votes_path(vote: {comment_id: comment.id, up: false}) %>
          <% elsif current_user && current_user.votes.where(:comment_id => comment.id, :up => false).present? %>
            <%= button_to "↑", votes_path(vote: {comment_id: comment.id, up: true}) %>
            <%= button_to "x", votes_path(vote: {user_id: current_user, comment_id: comment.id}, method: 'delete') %>
          <% elsif current_user %>
            <%= button_to "↑", votes_path(vote: {comment_id: comment.id, up: true}) %>       
            <%= button_to "↓", votes_path(vote: {comment_id: comment.id, up: false}) %>
          <% end %>
        </td>
        <td>
          <div class="comment-content"><%= comment.content %></div>
          <div class="comment-user">Posted by: <%= link_to comment.user.username, comment.user %> <%= time_ago_in_words(comment.created_at) %> ago
          </div>
          <div class="comment-votes">
            Up Votes: <%= comment.votes.where(up: true).count %>
            Down Votes: <%= comment.votes.where(up: false).count %>
            Net: <%= comment.votes.where(up: true).count - comment.votes.where(up:false).count %>

            <%= link_to 'reply', comment_path(comment) %>
            <div>
              <%#= render 'comments/commentform' %>
            </div>
          </div>

          <div class="comment-modify">
            <% if current_user == comment.user %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> 
          </div>
        </td>
      </tr>
    </table>
    <ul class="subcomments" >
      <% comment.comments.each do |sub| %>
      <li><%= render sub %></li>
      <% end  %>
    </ul>
</div>