<div class="comment">
	<table id="comment_<%= comment.id %>">
      <tr>
        <td>
          <!-- if already voted up -->
          <% if current_user && current_user.votes.where(:comment_id => comment.id, :up => true).present? %>
            <%= image_tag("/upvoted.png") %><br>
            <div class="net-vote">
              <%= comment.votes.where(up: true).count - comment.votes.where(up:false).count %></div>
            <%= link_to image_tag("/downvote.png"), votes_path(vote: {comment_id: comment.id, up: false}), method: :post %>
          <!-- if already voted down -->
          <% elsif current_user && current_user.votes.where(:comment_id => comment.id, :up => false).present? %>
            <%= link_to image_tag("/upvote.png"), votes_path(vote: {comment_id: comment.id, up: true}), method: :post %><br>
            <div class="net-vote">
              <%= comment.votes.where(up: true).count - comment.votes.where(up:false).count %></div>
            <%= image_tag("/downvoted.png") %>
          <!-- if haven't voted -->
          <% else %>
            <%= link_to image_tag("/upvote.png"), votes_path(vote: {comment_id: comment.id, up: true}), method: :post %><br>
              <div class="net-vote">
              <%= comment.votes.where(up: true).count - comment.votes.where(up:false).count %></div>
            <%= link_to image_tag("/downvote.png"), votes_path(vote: {comment_id: comment.id, up: false}), method: :post %>
          <% end %>
        </td>
        <td>
          <div class="comment-content"><%= comment.content %></div>
          <div class="comment-user">Posted by: <%= link_to comment.user.username, comment.user %> <%= time_ago_in_words(comment.created_at) %> ago
          </div>
          <div class="comment-votes">
            Up Votes: <%= comment.votes.where(up: true).count %>
            Down Votes: <%= comment.votes.where(up: false).count %>
            <% if (current_user && current_user.votes.where(:comment_id => comment.id, up: true).present?) || (current_user && current_user.votes.where(:comment_id => comment.id, up: false).present?) %>
              <%= button_to "Unvote", votes_path(vote: {user_id: current_user, comment_id: comment.id}, method: 'delete') %>
            <% end %>
            <%= link_to 'reply', comment_path(comment) %>
            <div>
              <%#= render 'comments/commentform' %>
            </div>
          </div>

          <div class="comment-modify">
            <% if current_user == comment.user %>
            <%= link_to 'Edit', edit_comment_path(comment) %>
            <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
    <ul class="subcomments" >
      <% comment.comments.each do |sub| %>
      <li><%= render sub %></li>
      <% end  %>
    </ul>
</div>