<p id="notice"><%= notice %></p>

<%= render @comment %>

<br>
<strong>Add a Comment:</strong>
<%= render 'comments/commentform' %>
<br>

<div class="comment-header">Comments:</div>
<%= render @comment.comments.reverse %>

<%= link_to 'Back', comments_path %>