<%= simple_form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <label class="choose_post">
    <input id="link_button" type="button" value="Link Post">    
    <br>
  </label>
  <label class="choose_post">
    <input id="self" type="button" value="Self Post">   
    <br>
  </label>
  <br>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div class="field" style="display:none;">
    <%= f.input :link %>
  </div>

  <div class="field" style="display:none;">
    <%= f.input :content %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
