<script type="text/javascript" src="application.js"></script>

<%= simple_form_for(@post) do |f| %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>

  <div id="select_post_type">
    <p>Select a post type:</p>
    <input type="radio" value="types" class="syncTypes" name="syncTypes"> Text Post<br>
    <input type="radio" value="link_posts" class="syncTypes" name="syncTypes"> Link Post
    <div id="self_posts" style="display:none;padding:2px;top:15px;position:relative">
    <%= f.input :content, :placeholder => 'Enter text here' %></div>
    <div id="link_posts" style="display:none;padding:2px;top:15px;position:relative">
    <%= f.input :link, :placeholder => 'Enter URL here' %></div>
  </div>
  <br>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
