<div class="post">
  	<br>
  	<div class="post-title"><%= link_to post.title, post.link %></div>
  	<div class="post-author">Posted by <%= link_to post.user.username, post.user %> on <%= post.created_at %></div>
	<div class="post-modify">
	<% if current_user == post.user %>
        <%= link_to 'Edit', edit_post_path(post) %></td>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
	</div>
</div>