<div class="post">
  	<br>
  	<table>
      <tr>
        <td>
        <% if current_user.votes.where(:post_id => post.id, :up => true).present? %>
           ↑
        <% else %>
          <%= button_to "↑", votes_path(vote: {post_id: post.id, up: true}) %>
        <% end %>
        <% if current_user.votes.where(:post_id => post.id, :up => false).present? %>
           ↓
        <% else %>
          <%= button_to "↓", votes_path(vote: {post_id: post.id, up: false}) %>
        <% end %>
        </td>
        <td>
          <div class="post-title"><%= link_to post.title, post.link %></div>
          <div class="post-author">Posted by <%= link_to post.user.username, post.user %> on <%= post.created_at %>
          </div>
          <div class="post-show">
              <%= link_to 'Comments', post %>
              (<%= post.comments.count%>)
          </div>
          <div class="post-votes">
          Up votes: <%= post.votes.where(up: true).count %>
          Down votes: <%= post.votes.where(up: false).count %>
          Net: <%= post.votes.where(up: true).count - post.votes.where(up:false).count %>
          <%= link_to 'Unvote (DIY)', votes_path %>
          </div>
          <div class="post-modify">
            <% if current_user == post.user %>
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %> </div>
        </td>
      </tr>
    </table>
</div>