<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<strong>Posts created:</strong>
<% if @user.posts.count == 0 %>
	<p>None.</p>
<% else %>
	<%= @user.posts.count %>
	<%= render @user.posts.reverse %>
<% end %>

<br>
<% if current_user == @user %>
	<%= link_to 'Edit User Profle', edit_user_path(@user) %>
  <%= link_to 'Change password', edit_user_registration_path(@user) %>
<% end %>

<%= link_to 'Back', users_path %>
